* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orangered;
    opacity: 0.8;
    background-image: radial-gradient(#000000 1.25px, transparent 1.25px), radial-gradient(#000000 1.25px, #f0882d 1.25px);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
}

#content {
    padding-top: 15px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: orangered;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100vw;
    height: 5%;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    background-color: black;
    height: 30px;
    color: white;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
}