* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {}

#content {
    background-image: url(../assets/icecream-burst.jpg);
    background-size: 110%;
    padding-top: 0;
    width: 100vw;
    /* height: 100vh;*/
    overflow: scroll;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100vw;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(216, 78, 3);
}

.btn {
    height: 30px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    display: flex;
    gap: 5px;
    font-size: 18px;
}

.btn>img {
    height: 25px;
    width: 25px;
}

.container {
    margin-top: 40px;
    background-color: rgb(216, 78, 3);
    width: 80%;
    /*height: 80vh;*/
    border-radius: 1em;
    overflow: scroll;
    opacity: 0.7;
}


/*Home Page*/

.containerHome {
    display: flex;
    padding: 25px;
    font-size: 54px;
    gap: 15px;
}

.containerHome>span {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
}

.containerHome>img {
    height: 80%;
    width: 80%;
    border-radius: 10em;
}


/*Menu Page*/

.containerMenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.containerMenu>.burger {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 1em;
}

.containerMenu img {
    height: 250px;
    width: 250px;
}

.containerMenu>span {
    font-size: 28px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding-top: 15px;
    background-color: black;
    width: 250px;
    color: rgb(216, 78, 3);
}

.containerMenu>.burgerName {
    color: wheat;
}


/*Contact page*/

.containerContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.containerContact>img {
    width: 100%;
    height: 50%;
    border-radius: 1em;
}

.containerContact>span {
    margin-top: 45px;
    display: flex;
    /*flex-direction: column;*/
    font-size: 22px;
    width: 120%;
    align-items: center;
    background-color: orangered;
    color: black;
}

.containerContact>span>img {
    height: 30px;
    width: 30px;
}


/* mobile responsive */

@media only screen and (max-width: 768px) {
    .navbar {
        height: 90px;
    }
    .btn {
        font-size: 24px;
    }
    .btn>img {
        height: 45px;
        width: 45px;
    }
    /*home*/
    .containerHome {
        display: flex;
        padding: 25px;
        font-size: 54px;
        gap: 15px;
    }
    .container>span {
        width: 20%;
        display: flex;
        flex-wrap: wrap;
        font-weight: 700;
    }
    .containerHome>img {
        height: 80%;
        width: 80%;
        border-radius: 10em;
    }
    .containerHome>img {
        height: 80%;
        width: 80%;
        border-radius: 1em;
    }
    /*menu*/
    .containerMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        /*grid-template-columns: repeat(2, 1fr);*/
        gap: 25px;
    }
    .containerMenu>.burger {
        width: 80%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        border-radius: 1em;
    }
    .containerMenu img {
        height: 250px;
        width: 250px;
    }
    .containerMenu span {
        font-size: 28px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        padding-top: 15px;
        background-color: black;
        width: 250px;
        color: rgb(216, 78, 3);
    }
    .containerMenu .burgerName {
        color: wheat;
    }
    /*contact*/
}

@media only screen and (max-width: 768px) {}